
@mixin heebo-light{
  font-family:'heebo-light', Arial, Helvetica, sans-serif;
}

@mixin heebo-med{
  font-family:'heebo-med', Arial, Helvetica, sans-serif;
}

@mixin heebo-reg{
  font-family:'heebo-reg', Arial, Helvetica, sans-serif;
}