.form-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left:$grid-phone-paddings;
  padding-right:$grid-phone-paddings;
}
.form{
  width: 100%;
  text-align: center;
}

.form__input-wrapper{
  position: relative;
  display: inline-block;
  max-width: 330px;
  width: 100%;
  border-bottom:1px solid  transparentize($dark-blue, 0.5);
}

.form__input, .form__input-placeholder{
  font-size: 20px;
  @include heebo-reg;
  padding-top: 10px;
  padding-bottom: 11px;
}

.form__input{
  @include resetInput;
  max-width: 330px;
  width: 100%;
  color: $dark-blue;
}

.form__input-placeholder{
  color: transparentize($dark-blue, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0;
  transition: transform 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000),
              color 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000),
              font-size 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.form__rubber-line{
  height: 1px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: width 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
  background-color: $blue;
  z-index: 1;
}

.form__input{
  &:focus, &.freeze{
    & + .form__input-placeholder{
      color: $blue;
      transform: translate(0, -30px) scale(0.7);
    }

    & + .form__input-placeholder + .form__rubber-line{
      width: 100%;
    }
  }
}



