$dark-blue:         #4C6372;
$fat-blue:          #3257C9;
$quite-fat-blue:    #436EF1;
$blue:              #2EA5F3;

$lighten-grey:      #f0f0f0;
$grey:              #979797;
$green:             #44C624;